<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fernando.myapplication" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignInActivity"
            android:label="@string/signIn">

        </activity>

        <activity
            android:name=".SignUpActivity"
            android:label="@string/signUp"
            android:parentActivityName=".SignInActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SignInActivity"/>
        </activity>

        <activity
            android:name=".ConfigurationActivity"
            android:label="@string/config"
            android:parentActivityName=".ChatsActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChatsActivity"/>
        </activity>

        <activity
            android:name=".UsersActivity"
            android:label="@string/users">

        </activity>

        <activity
            android:name=".ChatsHallActivity"
            android:label="@string/chatsHall">

        </activity>

        <activity
            android:name=".ChatActivity"
            android:label="@string/chat"
            android:parentActivityName=".ChatsHallActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChatsHallActivity"/>
        </activity>

    </application>

</manifest>